.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 5px;
    border-radius: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.app_theme_dark .user-item {
    color: #D9D9D9;
}

.user-item__data {
    width: 90%;
    display: flex;
    align-items: center;
}

.app_theme_light .user-item:hover {
    background-color: rgb(207, 228, 255);
}

.app_theme_dark .user-item:hover {
    background-color: #2A3C4B;
}

.app_theme_light .user-item.selected {
    background-color: rgb(207, 228, 255);
}

.app_theme_dark .user-item.selected {
    background-color: #2A3C4B;
}

.user-item__info {
    max-width: 80%;
    margin-left: 15px;
}

.user-item__name {
    
    overflow: hidden;
    text-overflow: ellipsis;
}
    

.user-item__online-status {
    font-size: 14px;
}

.user-item__online-status-lamp {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.user-item__online-status-lamp.online {
    background-color: green;
}

.user-item__online-status-lamp.offline {
    background-color: rgb(253, 57, 57);
}

.user-item__notificator {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-left: 5px;
    padding-top: 1px;
    background-color: #1976d2;
    color: white;
    border-radius: 50%;
    text-align: center;
}