.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3B6EF7;
}

.app_theme_dark .sign-in-form__title {
    color: #fff;
}


@media (max-width: 500px) {
    .sign-in-form__title {
        font-size: 30px;
    }
}


@media (max-width: 360px) {
    .sign-in-form__title {
        font-size: 25px;
    }
}


