.btn {
    outline: none;
    text-align: center;
    cursor: pointer;
}

.btn.contained.main {
    border: 1px solid #3B6EF7;
    background-color: #3B6EF7;
    color: white;
    transition: background-color 0.5s;
}

.btn.contained.main:hover {
    background-color: #2d51b5;
}

.btn.contained.main:disabled {
    border-color: #a4baf6;
    background-color: #a4baf6;
}

.btn.contained.main:hover:disabled {
    border-color: #a4baf6;
    background-color: #a4baf6;
}


.btn.small {
    padding: 1%;
    min-width: 80px;
    font-size: 14px;
}

.btn.medium {
    padding: 2%;
    min-width: 100px;
    font-size: 18px;
}

.btn.large {
    padding: 3%;
    min-width: 130px;
    font-size: 22px;
}

/*
===========================================
========== Rounded ========================
===========================================
*/

.btn.low-smooth.small {
    border-radius: 4px;
}
.btn.low-smooth.medium {
    border-radius: 8px;
}
.btn.low-smooth.large {
    border-radius: 16px;
}

.btn.medium-smooth.small {
    border-radius: 8px
}
.btn.medium-smooth.medium {
    border-radius: 16px
}
.btn.medium-smooth.large {
    border-radius: 24px
}

.btn.strong-smooth.small {
    border-radius: 16px
}
.btn.strong-smooth.medium {
    border-radius: 32px
}
.btn.strong-smooth.large {
    border-radius: 64px
}

/*
===========================================
========== Width ========================
===========================================
*/

.btn.half {
    width: 50%;
}

.btn.full {
    width: 100%;
}

